.app-container {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
}

.app-header-container {
  display: flex;
  height: 95px;
  border: dashed rgb(248, 183, 2);
  /* align-items: start; */
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px;
}

.app-content-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
}

.app-footer-container {
border: dashed rgb(248, 183, 2);
height: 20px;
}

.app-nav-container {
  display: flex;
  /* flex: 1; */
  width: 195px;
  border: dashed  rgb(248, 183, 2);
  border-bottom: none;
  border-top: none;
  flex-direction: column;
  padding: 5px;
}

.app-workarea-container {
  flex: 1;
  /* overflow: auto; */
  padding: 5px;
}

.app-control-panel-container {
  justify-content: flex-end;
  display: flex;
}